.form-control{
	height: 33px!important;
}
.hiddenformsearch{
	display: none;
}

body > section > div > section > div > div > section > div.panel-body > div:nth-child(1) > div.col-md-9 > div > div > form > div > div > span.input-group-btn > button{
	height: 33px!important;
}

body > section > div > section > div > div > section > div.panel-body > div:nth-child(1) > div.col-md-9 > div > div > form > div > div > span.input-group-addon.advanced-search-proyect{
	height: 34px;
}

.tablecontainer{
	max-height: 200px;
    overflow-y: scroll;
}

.tablecontainer table td{
	text-align: center!important;
    vertical-align: middle!important;
}

.tblwait{
	display: none;
}
.advanced-search-proyect{
	background-color: #fff;
	height: 33px!important;
}

.advanced-search-proyect:hover{

	background-color: #eeeeee;
	cursor: pointer;

}

.panel-body table.table td{
	text-align: center;
	vertical-align: middle;
}

.start-search-proyect{
	width: 100%;
}

.princpl-bnr{
	width: 60%;
	height: 114px;
	position: relative;
	background: url('../backgrounds/BANNER1.png');
	background-size:  100% 120px;
	background-position: center;
	background-repeat: no-repeat;
	/*left: 7%;
	margin-left: 300px;*/
	margin: auto;
	background-color: #171717;
	color: #171717;
}

.separador{
	margin-top: -10px;
	margin-bottom: 20px;
    background-color: #000;
    opacity: 0.3;
    height: 1px;
}

.center{
	text-align: center;
}

.header{
	height: 120px !important;
}

.panel-body{
	border-radius: 0px;
}

.muestralista{
	width: 120px;
}

.hiddenform{
	display: none;
}

.waitingimg{
	width: 100%;
	text-align: center;
	background-color: #fff;
}

.modal-block-lg{
	width: 80%;
    margin: auto;
}

.waitingback{
	width: 200px;
	min-height: 200px;
	margin: auto;
	background-image: url('../images/carga.gif');
	background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.tblhover > div > input::-webkit-input-placeholder { /* Chrome */
  color: #000;
}
.tblhover > div > input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.tblhover > div > input:-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.tblhover > div > input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000;
}


.tblhover > div > input:hover{

	background-color: #fff;
    border-color: #000;
}

.tblhover > div > input{
	
	background-color: transparent;
    border-color: transparent;
}


#results > div:nth-child(2){
	text-align: right;
}

.table .actions{
	width: 15%;
	text-align: center;
}

.table .actions a{
	color: #fff;
}

#datatable-institucion > thead > tr > th > div.col-md-2{
	text-align: center;
    vertical-align: middle;
    top: 10px;
}

#datatable-institucion > thead > tr > th > div.col-md-2	> span{
	font-size: 20px;
}

#datatable-institucion > thead > tr > th > div.col-md-2	> span:hover{
	color: #33bbff;
	cursor: pointer;
}

.muestra-seccion .ocultos{
	display: none;
}

.ocultos{
	display: none;
}

.muestra-seccion > div:nth-child(1){
	margin: 15px 0px;
}

.muestra-seccion .tablecontainer{
	width: 100%;
	max-height: 300px;
	overflow-y: scroll;

}

.muestra-seccion table tbody tr td:nth-child(7){
	text-align: center;
}

.muestra-seccion table tbody tr td:nth-child(7) a{
	margin: 0px 5px;
}

.muestra-seccion table tbody tr td:nth-child(7) a i.fa{
	color: #fff;
	text-decoration: none;
}

.tableregularbtns{
	text-align: center;
	width: 20%;
}

.tableregularbtns a{
	margin: 0px 5px;
}

.tableregularbtns a i.fa{
	color: #fff;
	text-decoration: none;
}

.waitingprev{
	text-align: center;
	min-height: 300px;
	overflow-y: scroll;
}

#modalsteps{
	display: none!important;
}

.muestra-seccion{
	margin-top: 30px;
}

.tbl-imgcontainer{
	width: 80px!important;
	margin: auto;
}

.tbl-imgcontainer img{
	width: 100%;
}
.formsptitels{
	background: #f6f6f6;    
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid #DADADA;
	margin-bottom: 10px;
}

.formsptitels h2{
	margin-top: 0px;
	margin: 15px 0px;

}

.panelocultos{
	display: none;
}


.mtrsrpt{
	max-height: 300px;
	overflow-y: scroll;
}

@media only screen and (min-width: 992px){

	.form-control{
		height: 33px!important;
	}

	.form-group .col-md-12 .col-md-10{
		padding-left: 9px!important;
	}
}

@media only screen and (min-width: 768px){

	html.fixed .inner-wrapper {
	    padding-top: 160px !important;
	}

	html.fixed .sidebar-left, html.fixed .page-header {
	    top: 120px !important;
	}

}